@model TradeClientTestTemplate.Models.Order

@{
    ViewBag.Title = "Create";

}

<div class="container-fluid m-4 px-4 py-2 col-8 justify-content-center clearfix border border-info border-2 rounded text-dark bckgcouleur">
    <form method="post" asp-action="Create" class="needs-validation p-1" novalidate>
        @Html.AntiForgeryToken()
        <div class="row pr-4 justify-content-end">
            <a asp-action="Index" type="button" class="close btn-lg text-primary "><i class="fas fa-times-circle "></i></a>
        </div>
        <div class="row">
            <div class="col justify-content-center">
                <h4 class="p-3 text-primary">Create new order</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-4  p-1">
                <div class="form-group ">
                    <label id="lol">Account <small class="text-danger"> &nbsp; *Please choose an account!</small></label>
                    <select form="lol"class="form-control"  required  >
                        <option disabled>- Select an account -</option>
                        <option value="">account1</option>
                        <option value="">account2</option>
                        <option value="">account3</option>
                    </select>
                    <div class="invalid-feedback">
                        Choose a valid symbol!
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col  p-1">
                <div class="form-group ">
                    <label asp-for="Symbol">Symbol</label>
                    <select asp-for="Symbol" required class="form-control fstdropdown-select" onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
                        @foreach (var symbl in ViewBag.Equities)
                        {
                        <option value="@symbl.Symbol">
                            <p> @symbl.Symbol</p>
                            <p>&nbsp;(@symbl.FullName)</p>
                        </option>
                        }
                    </select>
                    <div class="invalid-feedback">
                        Choose a valid symbol!
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col  p-1">
                <div class="form-group">
                    <label asp-for="Side">Action</label>
                    <select asp-for="Side" class="form-control" required>
                        <option value="1" selected>BUY</option>
                        <option value="2">SELL</option>
                    </select>
                </div>
            </div>


            <div class="col  p-1">
                <div class="form-floating mb-3">
                    <label asp-for="Quantity">Quantity</label>
                    <a class="text-info" title="" data-container="body" data-toggle="popover" data-placement="right" data-content="Ticker symbol" data-original-title="Popover Title"><i class="fas fa-question-circle"></i></a>
                    <input type="number" asp-for="Quantity"  min="1" class="form-control" oninput="validity.valid||(value='');" required />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4  p-1">
                <div class="form-group">
                    <label asp-for="OrderType">Order Type</label>
                    <select asp-for="OrderType" class="form-control" required>
                        <option value="1" selected>Market</option>
                        <option value="2">Limit</option>
                        <option value="3">Stop</option>
                        <option value="4">Stop-Limit</option>
                    </select>
                </div>
            </div>
            <div class="col  p-1">
                <div class="form-group">
                    <label asp-for="stopPrice">Stop Price</label>
                    <a class="text-info" title="" data-container="body" data-toggle="popover" data-placement="right" data-content="Ticker symbol" data-original-title="Popover Title"><i class="fas fa-question-circle"></i></a>
                    <input type="text" class="form-control" asp-for="stopPrice" disabled="disabled" required />
                </div>
            </div>
            <div class="col  p-1">
                <div class="form-group">
                    <label asp-for="limitPrice">Limit Price</label>
                    <a class="text-info" title="" data-container="body" data-toggle="popover" data-placement="right" data-content="Ticker symbol" data-original-title="Popover Title"><i class="fas fa-question-circle"></i></a>
                    <input type="text" class="form-control" asp-for="limitPrice" disabled="disabled" required />
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-4  p-1">
                <label asp-for="TimeInForce">Time In Force</label>
                <select class="form-control" asp-for="TimeInForce">
                    <option value="0">DAY</option>
                    <option value="1">GTC</option>
                    <option value="3">IOC</option>
                    <option value="4">FOK</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6 p-1">
                <label asp-for="Note">Notes</label>
                <a class="text-info" title="" data-container="body" data-toggle="popover" data-placement="right" data-content="Ticker symbol" data-original-title="Popover Title"><i class="fas fa-question-circle"></i></a>
                <textarea class="form-control" asp-for="Note" rows="2"></textarea>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-6">
                <button type="submit" class="btn btn-outline-primary w-100" value="Create">Create Order</button>
            </div>

            <div class="col-3">
                <button type="reset" class="btn btn-outline-info w-100"><i class="fas fa-sync-alt"></i> Reset</button>
            </div>
        </div>
    </form>
</div>